{% extends '::base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block body -%}
      <div class="jumbotron">
        <h1>Bienvenido a Cursox</h1>
        <p class="lead">Cursox es la manera mas facil de registrarte y seguir tus cursos favoritos dictados en tu ciudad.</p>
        {% if is_granted('ROLE_USUARIO') %}
            <p><a class="btn btn-lg btn-success" href="/cursos">Nuestros Cursos</a></p>
        {% else %}
            <p><a class="btn btn-lg btn-success" href="/alumno/registrar">Registrarse!</a> <span>&nbsp</span> <a class="btn btn-lg btn-info" href="/alumno/login">Ingresar!</a></p>
        {% endif %}
      </div>
      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Crea tu curso</h4>
          <p>Llega a millones de usuarios con tus cursos con esta nueva plataforma!</p>
          <p></p>
          <h4>Sigue los cursos mas buscados</h4>
          <p>Miles de profesionales buscan especialistas en varias de las tematicas que se dictan en Cursox!&nbsp;</p>
        </div>
      </div>
{% endblock %}