{% extends "::base.html.twig" %}

{% block title %}Sobre nosotros{% endblock %}

{% block body %}
      <div class="row marketing">
        <div class="col-md-12 col-lg-12">
          <h1 class="page-header clearfix">Sobre Nosotros.</h1>
        </div>
        <div>
          <p>Proyecto para el curso de Symfony dictado por <a href="https://twitter.com/hydras_cs">@hydras_cs</a></p>
          <p>Creado por <a href="https://www.facebook.com/Hazzard.hzz">Enzo Luis Strongoli</a>&nbsp;-
            <a href="https://twitter.com/Hazzard">@Hazzard</a></p>
        </div>
      </div>
{% endblock %}
